<div class="row">
  <div class="column">
    <h1>
      Hey, {{ pitpat.user.name }}!
    </h1>

    <p>take a look at all those kendu-ui goodies!</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="column">
    <h2>
      Data Grid
    </h2>

    <div class="row">
      <div class="column large-8">
        <div kendo-grid k-options="grid" k-data-source="gridData" k-on-change="selectedGridItem = data" ></div>
      </div>
      <div class="column large-4" ng-if="selectedGridItem">
        <h3>
          {{selectedGridItem.ProductName}}
          <small>(Product ID: {{selectedGridItem.ProductID}})</small>
        </h3>
        <hr>
        <dl>
          <dt>Quantity in stock:
          <dd>{{selectedGridItem.UnitsInStock}}
          <dt>Price per unit:
          <dd>{{selectedGridItem.UnitPrice | currency}}
          <dt>Value of stock:
          <dd>{{selectedGridItem.UnitsInStock * selectedGridItem.UnitPrice | currency}}
        </dl>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="column">
    <h2>
      DataVis
    </h2>

    <div class="row">
      <div class="column large-6">
        <h3>
          pie chart
        </h3>

        <div kendo-chart k-options="pie" k-data-source="pieData" />
      </div>

      <div class="column large-6">
        <h3>
          gauge
        </h3>

        <div kendo-radial-gauge ng-model="value"></div>
        <input class="gauge-slider" kendo-slider k-min="0" k-max="100" k-large-step="20" k-tick-placement="'none'" ng-model="value">
      </div>
    </div>


  </div>
</div>

<hr>

<div class="row">
  <div class="column large-6">
    <h2>
      Dropdown
    </h2>

    <p>
      <select kendo-drop-down-list k-options="dropdown" ng-model="dropdownSelection"></select>
      selected option: <span class="label" ng-if="dropdownSelection">{{ dropdownSelection }}</span>
    </p>
    <!-- <div kendo-window="">New Angular Kendo UI Plunk</div> -->
  </div>
</div>
