<section class="notes">
  <form class="row collapse" ng-submit="addNote(newNote)">
    <div class="column small-9">
      <input type="text" ng-model="newNote" placeholder="new note..." required>
    </div>

    <div class="column small-3">
      <button type="submit" class="button postfix">+</button>
    </div>
  </form>

  <hr>

  <ul class="notes-list">
    <li ng-repeat="note in notes | orderBy:'-timestamp' | limitTo:3 ">
      <h5>{{ note.timestamp|date:'EEEE, dd/MM/yyyy @ H:mm' }}</h5>
      <p ng-bind-html="note.content | hashtags"></p>
  </ul>
</section>
