@import 'compass/css3';

.thumb-size {
  width: 40px;
  height: 40px;
}

.todos {
  padding: .25em;
}

.todos-list {
  margin: 0;

  > li {
    list-style: none;
  }

  label {
    margin: 0;
  }

  input[type="checkbox"] {
    margin: 0 0 .5rem;
  }

  :checked {
    + .todo-label {
      text-decoration: line-through;
    }

    ~ .label {
      opacity: .35;
      @include transition( opacity 1.5s );
    }
  }
}

main {
  padding: 1em;
  min-height: 20em;
}

body {
    position: static;
}

*[class*="k-"] {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
table {
    margin-bottom: 0px!important;
}


.off-canvas-list {
  .active {
    background: #008CBA;
  }
}
