@import 'compass/css3';

.thumb-size {
  width: 40px;
  height: 40px;
}

.todos-list :checked {
  + .todo-label {
    text-decoration: line-through;
  }

  ~ .label {
    opacity: .35;
    @include transition( opacity 1.5s );
  }
}

main {
  padding: 1em;
}

body {
    position: static;
}

*[class*="k-"] {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
table {
    margin-bottom: 0px!important;
}
