@import 'compass/css3';
@import 'foundation/components/global';

.notes {

}

main {
  padding: 1em;
  min-height: 20em;
}

body {
    position: static;
}

*[class*="k-"] {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
table {
    margin-bottom: 0px!important;
}

.off-canvas-list {
  .active {
    background: $primary-color;
  }
}

@import 'modules/todos';


.title {
  -webkit-perspective: 800;

  > span {
    @include transform( rotate3d( 0, 1, 0, 180deg ) );

    &:hover {
      @include transform( rotate3d( 0, 1, 0, 0deg ) );
    }
  }
}
