<div class="row">
  <div class="column">
    <h1>
      Hey, {{ pitpat.user.name }}!
    </h1>

    <p>take a look at all those kendu-ui goodies!</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h2>
      Hey, {{ pitpat.user.name }}!
    </h2>

    <p>take a look at all those kendu-ui goodies!</p>

    <div kendo-chart k-options="pie" />
    <div kendo-chart k-options="pie" k-data-source="pieData" />
    <div kendo-chart k-options="pie" k-data-source="pieS" />
    <div kendo-chart k-options="pie" id="testPie" k-data-source="pieS" />
    <div kendo-window="">New Angular Kendo UI Plunk</div>
  </div>
</div>
