<section class="todos">
  <ul class="todos-list">
    <li ng-repeat="todo in todos">
      <label>
        <input type="checkbox" ng-model="todo.done">
        <span class="todo-label">
          {{todo.label}}
        </span>
        <span ng-if="todo.expires" class="label right">
          {{todo.expires|timeLeft}}
        </span>
      </label>
  </ul>

  <hr>

  <form class="row collapse" ng-submit="addTodo(newTodo)">
    <div class="column small-9">
      <input type="text" ng-model="newTodo.label" placeholder="new todo..." required>
    </div>

    <div class="column small-3">
      <button type="submit" class="button postfix">+</button>
    </div>

    <div class="column">
      <input type="text" ng-model="newTodo.expires" placeholder="does it expire?" kendo-date-picker>
    </div>
  </form>
</section>
